*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 50px;
    background-color: orange;
    font-size: 50px;
}

li{
    background-color: rgb(129, 165, 72);
    margin-bottom: 10px;
    list-style: none;
    display: flex;
}
li:nth-child(1)::before {
    width: 75px;
    margin-left: 15px;
    content: url(iconfinder_apple_753485.png);
}
li:nth-child(2)::before {
    width: 75px;
    margin-left: 15px;
    content: url(iconfinder_fruit_strawberry_1898843.png);
}
li:nth-child(3)::before {
    width: 75px;
    margin-top: 15px;
    margin-left: 15px;
    content: url(iconfinder_fruit_kiwi_1898853.png);
}
li:nth-child(4)::before {
    width: 75px;
    margin-left: 15px;
    content: url(iconfinder_fruit_mango_1898851.png);
}
li:nth-child(5)::before {
    width: 75px;
    margin-left: 15px;
    content: url(iconfinder_fruit_pomegranate_1898844.png);
}
span{
    background-color: rgb(211, 99, 47);
    height: 100%;
    color: white;
    padding: 10px;
}