*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
}
body{
    background-color: rgb(162,162,162);
}
.container{ 
    height: 100%;
    margin: 5% 30%;
}
.o{
    width: 300px;
    height: 300px;
    background-color: rgb(202, 201, 201);
    border-radius: 40px;
    box-shadow: 10px 10px 5px rgb(107, 107, 107);
    padding: 10px;
    margin-bottom: 10px;
}
.d{
    width: 300px;
    height: 300px;
    background-color: rgb(202, 201, 201);
    border-radius: 40px;
    box-shadow: 10px 10px 5px rgb(107, 107, 107);
    padding: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}