*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
body{
    height: 100vh;
    background: rgb(162,162,162);
    background: linear-gradient(90deg, rgba(162,162,162,1) 64%, rgba(255,255,255,1) 100%);
}
.top{
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}
.year{
    margin-left: auto;
}
break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.time{
    margin-left: 400px;
    font-size: 50px;
}
.pm{
    margin-left: 10px;
    font-size: 20px;
}
.weather{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    margin-left: 525px;
    width: 400px;
    height: 400px;
    background-color: black;
    padding: 10px;
    color: rgb(126, 126, 126);
    box-shadow: 10px 10px 5px rgb(107, 107, 107);
}
.city{
    font-weight: 400;
    font-size: 20px;
}
.degrees{
    margin-top: auto;
    font-weight: 600;
    font-size: 120px;
}
.w-date{
    margin-top: auto;
    margin-left: auto;
    font-weight: 400;
    font-size: 20px;
}
.sign{
    margin-left: 280px;
    font-size: 40px;
    color: transparent;
    text-shadow: 0 0 0 rgb(126, 126, 126);
}
.cloud{
    position: absolute;
    left: 700px;
    top: 100px;
}
.days{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 475px;
    margin-left: 700px;
    width: 430px;
    height: 225px;
    background-color: rgb(177, 175, 175);
    padding: 10px;
    color: rgb(107, 107, 107);
    box-shadow: 10px 10px 5px rgb(107, 107, 107);
}
.sign1{
    margin-left: 400px;
    font-size: 40px;
    color: transparent;
    text-shadow: 0 0 0 black;
}
.day{
    margin-left: 20px;
    width: 400px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.degrees1{
    color: black;
}
.circle{
    position: absolute;
    top: 650px;
    margin-left: 500px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: black;
    background: linear-gradient(135deg, rgba(144,144,144,1) 0%, rgba(69,68,68,1) 35%);
}
.right{
    width: 70px; height: 70px;
    background-image: url(right_arrow.png);
    background-color: white;
    background-size: cover;
    position: absolute;
    top: 325px;
    margin-left: 525px;
    opacity: 0.7;
    box-shadow: 5px 5px 5px rgb(107, 107, 107);
}
.left{
    width: 70px; height: 70px;
    background-size: cover;
    background-color: white;
    background-image: url(left_arrow.png);
    position: absolute;
    top: 325px;
    margin-left: 455px;
    opacity: 0.7;
    box-shadow: 5px 5px 5px rgb(107, 107, 107);
}