*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: flex;
    margin-left: 20%;
    margin-top: 100px;
    width: 1000px;
    height: 500px;
    background-color: black;
}
.text{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    color: aqua;
    text-shadow: 3px -2px 2px aqua;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.web{
    margin-left: 150px;
    font-size: 100px;
}
.design{
    margin-left: 150px;
    font-size: 75px;
}
.logo{
    width: 500px;
}
table{
    margin-top: 50px;
    border-collapse: collapse;
}
tr{
    width: 400px;
    height: 200px;
}
td{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.white1{
    border-radius:  0 60% 0  0;
    background-color: white;
}
.white2{
    border-radius: 0 0 0 60%;
    background-color: white;
}